<div class="container my-5">
    <div class="row ">
        <div class="col-md-12">
       <form  [formGroup]="productForm">
        <div class="row">
    <div class="col-md-6">
    <div class="mb-3">
    <label for="floatingInput" >Product Name</label>
   <input type="text" class="form-control-input" id="floatingInput" #fileSelect>
                            
      </div>
                         
     </div>
   <div class="col-md-6">
        <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Product Quantity</label>
      <input type="text" class="form-control-input" id="floatingInput" #fileSelect>
         </div>
     </div>
    </div>

 <div class="row">
   <div class="col-md-6">
   <div class="mb-3">
      <label for="floatingPassword">Product Price</label>
      <input type="text" class="form-control-input" id="floatingInput" #fileSelect>                            
     </div>
                         
      </div>
  <div class="col-md-6">
   <div class="mb-3">
         <label for="exampleInputPassword1" class="form-label">Company Name</label>
         <input type="text" class="form-control-input" id="floatingInput" #fileSelect>
           </div>
    </div>
     </div>
  <div class="row">
 <div class="col-md-6">
      <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Select Color</label>
     <select name="selectColor" class="form-control selectColor" id="" placeholder="selectColor" formControlName="color">
      <input type="text" class="form-control-input" id="floatingInput" #fileSelect>
            </select>            
      </div>
                         
 </div>
 <div class="col-md-6">
    <div class="mb-3">
                            
 <input type="checkbox" class="form-check-input" id="exampleCheck1" #fileSelect>
  <label for="exampleInputPassword1" class="form-label">Select Size</label>
 </div>
    </div>
</div>
  <div class="row">
   <div class="col-md-12">
   <div class="mb-3">
   <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
       </div>
 </div>
    </div>
                
   <div class="row">
    <div class="col-md-6">
    <div class="mb-3">
       <label for="exampleInputPassword1" class="form-label">Choose Image</label>
      <input type="file" class="form-control" id="exampleInputPassword1" #fileSelect>
    </div>
   </div>
  <div class="col-md-6">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Select Category</label>
     <select class="form-select input" formControlName="category" #fileSelect>
      <option value="">
                                    
  </option>
  </select>
  </div>
  </div>
     </div>
     <!-- <div class="mb-3 form-check">
  <input type="checkbox" class="form-check-input" id="exampleCheck1">
 <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div> -->
  <button type="submit" class="btn btn-primary w-100">Submit</button>
                
    </form>
</div>
    </div>
</div>